.Frame {
  position: relative;

  box-sizing: border-box;
  width: 364px;
  height: 324px;
  padding: 24px 16px;

  border: 1px solid rgba(182, 182, 183, 0.05);
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);

  background: white;
}

.Heading {
  text-align: center;
  margin-bottom: 24px;
  color: rgba(73, 73, 74, 0.90);

  h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;

    line-height: 1.25;
  }
}

.Label {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.92px;

  color: rgba(73, 73, 74, 0.90);
  opacity: 0.6;
}

.Value {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: rgba(73, 73, 74, 0.90);
  letter-spacing: 1px;
}

.Footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
}