.TokenPicker {
  background-color: #ffffff;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  .Tokens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .TradeToken {
      height: 80px;
      width: 80px;
    }
  }

  .CloseButton {
    cursor: pointer;
    position: absolute;
    right:10px;
    top:10px;
  }
}