.TokenPicker {
  background-color: #ffffff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  padding: 0 12px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  .Tokens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .TradeToken {
      flex-direction: column;
      justify-content: center;
      width: 92px;
      height: 82px;
      margin: 4px;

      .Pictogram {
        margin-bottom: 4px;
      }
    }
  }

  .CloseButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.CloseButton {
  height: 22px;
  width: 22px;
  border: 1px solid rgba(255,82,82,0.50);
  border-radius: 100%;

  &:before, &:after {
    position: absolute;
    left: 9px;
    top: 5px;
    content: ' ';
    height: 8px;
    border: 1px solid rgba(255,82,82,0.50);
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}