.TradeDetails {
  position: relative;

  .Heading {
    margin-bottom: 48px;
  }

  .TradeTokenSelector {
    display: inline-block;
    width: 152px;

    .TakerTokenAmount {
      margin-top: 16px;
    }
  }

  .Separator {
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    bottom: 70px; //find a better solution for this centric positioning
    width: 24px;
    border: 1px solid transparent;

    .Pictogram {
      display: flex;
      align-items: center;
      justify-items: center;

      img {
        width: 16px;
        margin: 0 auto;
      }
    }
  }

  .TradeDetailsInfoBox {
    margin: 16px 0;
    border: 1px solid rgba(156, 156, 157, 0.08);
    height: 30px;
  }
}


.Button {
  background-color: #448AFF;
  color: white;
  border: 1px solid #DDE4F6;
  width: 100%;
  text-transform: uppercase;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;

  &[disabled] {
    background-color: #ffffff;
    cursor: not-allowed;
    color: #CCD2E0;
  }
}

