.TradeToken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 72px;
  margin: 0 auto;
  border: 1px solid #DEE4F4;
  border-radius: 8px;
  cursor: pointer;

  .EtherToken {
    fill: #4F6CB1;
  }

  .AugurToken {
    fill: #963C81;
  }

  .MakerToken {
    fill: #3AB493;
  }

  .DigixToken {
    fill: #EF6C00;
  }

  .GolemToken {
    fill: #1565C0;
  }

  .SaiToken {
    fill: #F7A600;
  }

  &--disabled {
    .EtherToken, .AugurToken, .MakerToken, .GolemToken, .DigixToken, .SaiToken {
      fill: #DEE4F4;
    }

    .TradeTokenName {
      color:#DEE4F4;
    }
  }

  &Name {
    font-family: OpenSans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #4C4C4C;
    letter-spacing: 1.45px;
    text-transform: capitalize;
  }
}



